/*-----------GENERAL-------------*/

/*-----------VARIABLE----------*/
$palette: (
    'primary': rgb(160, 160, 160),
    'secondary': black,
    'gradient': rgba(0,0,0,0.7),
    'change': red
);

/*-----------/VARIABLE----------*/

*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
}

body{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.0),
        rgba(0,0,0,0.0)
    )
    ,url("./img/backgroundGeneral.png");
    background-repeat: no-repeat;
    background-size: cover;
}

header{
    h1{
    color: rgb(160, 160, 160);
    }
}

#portada{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("./img/portada.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 600px;

    h1{
        color: rgb(160, 160, 160);
        text-align: center;
        font-weight: bold;
    }
}

footer{
    background-color: black;
    margin-top: 10px;

    i{
        margin-right: 25px;
        padding-left: 15px;
        color: rgb(160, 160, 160);
    }
}

.container{
    max-width: 215vh;
}

/*-----------SECTION GENERAL-------------*/

#nosotros{
    margin-top: 200px;
    margin-bottom: 200px;
    margin-left: 40px;
    
    h2{
        font-weight: bold;
    }
}

.card{
    text-align: center;
    margin-right: 25px;
    margin-left: 25px;

    h5{
        font-weight: bold;
    }

    img{
        height: 450px;
    }
}

/*-----------SECTION 5-------------*/

.form{
    height: 250px;
    width: 350px;
    margin-top: 150px;
    margin-left: 5px;
    border-radius: 25%;
}

.float{
	position:fixed;
	width:45px;
	height:45px;
	bottom:40px;
	right:40px;
	background-color:#0eca53;
	color:#FFF;
	border-radius:50px;
	text-align:center;
    font-size:25px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.496);
    z-index:100;
}

.my-float{
	margin-top: 10px;
}

/*-----------IMG-------------*/

.imgLogo{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}

/*-----------MAPA-----------*/

.cont-red, .cont-blue, .cont-green, .cont-yellow{
    height: 200px;
    width: 200px;
    background-color: black;
    border: 10px solid blue;
    border-radius: 100px;
    margin-bottom: 55px;
    margin-top: 50px;
    margin-left: 110px;
    display: inline-block;
}

@each $color in red, blue, green, yellow{
    .cont-#{$color}{
        border-color: $color;
    }
}

/*-----------/MAPA-----------*/

/*-----------EXTEND-----------*/
.extendprueba{
    width: 150px;
    height: 150px;
    background-color: red;
    margin-left: 600px;
    padding: 40px;
}

.pruebaextend{
    @extend .extendprueba;
    color: white;
    background-color: black;
    border-radius: 100px;
    margin-bottom: 50px;
    border: 10px solid violet;
}

/*-----------/EXTEND-----------*/

/*-----------MIXIN-----------*/
@mixin colormixin ($height, $width, $color, $background-color) {
    height: $height;
    width: $width;
    color: $color;
    background-color: $background-color;
}

.pruebamixin{
@include colormixin (200px, 150px, red, black);
margin-left: 600px;
border: 10px solid rgb(130, 233, 238);
text-align: center;
}


